name: CI - Build and Test

on:
  push:
    branches: [main] # jab bhi main branch me push hoga
  pull_request:
    branches: [main] # PR par bhi chalega

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Run build
        run: npm run build

      # Agar test likhe ho to
      - name: Run tests
        run: npm test
