name: React App CI

on:
  push:
    branches:
      - main # jab bhi main branch me push hoga
  pull_request:
    branches:
      - main # jab koi PR aayega

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18 # React ke liye stable version

      - name: Install dependencies
        run: npm install

      - name: Build the project
        run: npm run build

      - name: Run tests (optional)
        run: npm test --if-present
